.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body  {
  background-color: #333;
  }
      .button {
    background-color: #ff0000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
  }
  .button:hover{
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
  }
          a1 {
    font-size: 2.5em;
  }
    a1{color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    
    display: inline-block;
    padding: 15px 20px;
    position: relative;
  }
  a1:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: -10;
    content: "";
    display: block;
    height: 5px;
    left: 50%;
    position: absolute;
    background: #ff0000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  a1:hover:after { 
    width: 100%; 
    left: 0; 
  }
  .card {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
  }
  p { 
    border-width: 15px;
    padding: 20px;
    margin: 20px;
}
p.one {
    border-style: solid;
    border-color: #f72121;
    background: #ff0000;
    border-width: 12px;
    padding: 200px;
    margin: 20px;
    
    
}
p.two {
    border-style: solid;
    border-color: #f72121 ;
    background: #ff0000;
    border-width: 12px;
    padding: 200px;
    margin: 20px;
}
p.three {
    border-style: solid;
    border-color: #f72121 ;
    background: #ff0000;
    border-width: 12px;
    padding: 200px;
    margin: 20px;
}
.one {
  color: white
}
.two {
  color: white
 }
 .three {
  color: white
 }
 html {
  scroll-behavior: smooth;
}